*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: #23242a;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background-color: rgb(10, 1, 10);
}

.box{
    position: relative;
    width: 400px;
    height: 440px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}

.box::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #a845ff, #a845ff, #a845ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.box::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #a845ff, #a845ff, #a845ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

@keyframes animate
{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.borderLine{
    position: absolute;
    top: 0;
    inset: 0;
}

.borderLine::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent,#ff2770, #ff2770, #ff2770);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}

.borderLine::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent,#ff2770, #ff2770, #ff2770);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;
}


.sub-box{
    position: absolute;
    inset: 4px;
    background: #222;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url(images/logo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.box-content h2{
    font-weight: 200px;
    position: absolute;
    text-align: center;
    bottom: 100px;
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.02em;
    color: #ddbef9;
}


.introduction{
    background: linear-gradient(rgb(10, 1, 10), #171418dd);
    padding-top: 20px;
}

input{
    width: 92%;
    max-width: 400px;
    background-color: transparent;
    border: 0.6px solid rgb(38, 29, 38);
    outline: none;
    border-radius: 4px;
    padding: 6px 2px;
    color: #a7a6a6;
    font-size: 0.75em;
    text-align: center;
}

.input-box{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

@media screen and (max-width: 380px){
    input{
        width: 92%;
        color: #a7a6a6;
        font-size: 0.7em;
    }
    
}

.intro-container{
    width: 90%;
    max-width: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600px;
}

.intro-container h1{
    color: #a7a6a6;
    margin-bottom: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.intro-container p{
    color: #ddbef9b1;
    font-size: 1.1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.3em;

}

.reason-container{
    width: 90%;
    max-width: 500px;
    margin-top: 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600px;
}

.reason-container h1{
    color: #a7a6a6;
    margin-bottom: 15px;
}

.reason-container p{
    color: #ddbef9b1;
    font-size: 1.1em;
    line-height: 1.3em;
    margin-top: 10px;
}


.concept-container{
    width: 90%;
    max-width: 500px;
    margin-top: 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600px;
}

.concept-container h1{
    color: #a7a6a6;
    margin-bottom: 15px;
    font-size: 1.4em;
}

.concept-container p{
    color: #ddbef9b1;
    font-size: 1.1em;
    line-height: 1.3em;
    margin-top: 10px;
}

@media screen and (max-width: 400px){ 
    .intro-container h1{
        color: #a7a6a6;
        margin-bottom: 15px;
        font-size: 1.4em;
    }
    
    .intro-container p{
        color: #ddbef9b1;
        font-size: 1em;
        line-height: 1.3em;
    }
    
    .reason-container h1{
        color: #a7a6a6;
        margin-bottom: 15px;
        font-size: 1.4em;
    }
    
    .reason-container p{
        color: #ddbef9b1;
        font-size: 1em;
        line-height: 1.3em;
        margin-top: 10px;
    }
    
    .concept-container h1{
        color: #a7a6a6;
        margin-bottom: 15px;
        font-size: 1.4em;
        font-size: 1.2em;
    }
    
    .concept-container p{
        color: #ddbef9b1;
        font-size: 1em;
        line-height: 1.3em;
        margin-top: 10px;
    }
}


.tokenomics{
    width: 90%;
    max-width: 500px;
    margin-top: 140px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600px;
    padding: 2rem;
    border: 1px solid #ddbef9b1;
    border-radius: 1rem;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
}

.tokenomics h2{
    color: #a7a6a6;
    margin-bottom: 15px;
    font-size: 1.4em;
}

.tokenomics p{
    color: #ddbef9b1;
    font-size: 1.1em;
    line-height: 1.3em;
    margin-top: 10px;
}

.tokenomics h3{
    color: #a7a6a6;
    font-size: 1.1em;
    line-height: 1.3em;
    margin-top: 10px;
}

.tokenomics small{
    color: #ddbef9b1;
    font-size: 1.1em;
    line-height: 1.3em;
    margin-top: 10px;
}

.tokenomics span{
    width: 90%;
    height: 0.5px;
    border: none;
    border-radius: 1px;
    background-color: #a7a6a6;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.taxes{
    width: 90%;
    max-width: 500px;
    margin-top: 140px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600px;
    padding: 2rem;
    border: 1px solid #ddbef9b1;
    border-radius: 1rem;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
}

.taxes h2{
    color: #a7a6a6;
    margin-bottom: 15px;
    font-size: 1.2em;
}

.taxes p{
    color: #ddbef9b1;
    font-size: 1.1em;
    line-height: 1.3em;
    margin-top: 10px;
}

.taxes h3{
    color: #a7a6a6;
    font-size: 0.8em;
    line-height: 1.3em;
    margin-top: 10px;
}

.taxes small{
    color: #ddbef9b1;
    font-size: 1.1em;
    line-height: 1.3em;
    margin-top: 10px;
}

.taxes span{
    width: 90%;
    height: 0.5px;
    border: none;
    border-radius: 1px;
    background-color: #a7a6a6;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}


.roadmap{
    width: 90%;
    max-width: 500px;
    margin-top: 140px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600px;
    padding: 2rem;
    border-radius: 20px;
    background-color: #180c1cb1;
    box-shadow: 15px 15px 45px rgba(25, 25, 25, 0.25),
                10px 10px 50px rgba(24, 24, 24, 0.25),
                inset 5px 5px 10px rgba(0,0,0,0.5),
                inset 5px 5px 20px #221227b1,
                inset -5px -5px 15px rgba(0,0,0,0.75);
}


.roadmap h2{
    color: #a7a6a6;
    margin-bottom: 15px;
    font-size: 1.4em;
}

.roadmap p{
    color: #ddbef9a5;
    font-size: 1.1em;
    line-height: 1.5em;
    margin-top: 18px;
}

.roadmap h3{
    color: #a7a6a6;
    font-size: 1.1em;
    line-height: 1.3em;
    margin-top: 10px;
}


.mission{
    width: 90%;
    max-width: 500px;
    margin-top: 140px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600px;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
    background-color: #180c1cb1;
    box-shadow: 15px 15px 45px rgba(25, 25, 25, 0.25),
                10px 10px 50px rgba(24, 24, 24, 0.25),
                inset 5px 5px 10px rgba(0,0,0,0.5),
                inset 5px 5px 20px #221227b1,
                inset -5px -5px 15px rgba(0,0,0,0.75);
}

.mission h2{
    color: #a7a6a6;
    margin-bottom: 15px;
    font-size: 1.4em;
}

.mission p{
    color: #ddbef9a6;
    font-size: 1.1em;
    line-height: 1.5em;
    margin-top: 18px;
}


.flyer{
    width: 80%;
    max-width: 500px;
    margin-top: 140px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600px;
    padding: 2rem;
    border: 1px solid #ddbef9b1;
    border-radius: 2rem;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
    background-color: #180c1cb1;
    box-shadow: 15px 15px 45px rgba(25, 25, 25, 0.25),
                10px 10px 50px rgba(24, 24, 24, 0.25),
                inset 5px 5px 10px rgba(0,0,0,0.5),
                inset 5px 5px 20px #221227b1,
                inset -5px -5px 15px rgba(0,0,0,0.75);
    animation: animateBg 6s linear infinite;
}


@keyframes animateBg{
    0%{filter: hue-rotate(0deg);}

    100%{filter: hue-rotate(360deg);}
}

.flyer h2{
    color: #a7a6a6;
    margin-bottom: 15px;
    font-size: 2.4em;
}

.flyer span{
    width: 60%;
    height: 0.5px;
    border: none;
    border-radius: 1px;
    background-color: #c35959;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    margin-bottom: 20px;
}


@media screen and (max-width: 500px){
    .roadmap p{
        font-size: 1em;
    }
     
    
    .mission h2{
        font-size: 1.2em;
    }
    
    .mission p{
        font-size: 1em;
    }
}

.caution{
    width: 90%;
    max-width: 500px;
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600px;
    padding: 2rem;
}

.caution h2{
    color: #a7a6a6;
    margin-bottom: 15px;
    font-size: 1.4em;
}

.caution h3{
    color: #a7a6a6;
    margin-bottom: 15px;
    font-size: 0.8em;
}

.caution p{
    color: #747272;
    font-size: 1.1em;
    line-height: 1.5em;
    margin-top: 18px;
}

.social{
    width: 90%;
    max-width: 500px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600px;
    padding: 2rem;
}

.social h2{
    color: #a7a6a6;
    margin-bottom: 5px;
    font-size: 1.4em;
    text-align: center;
}

.button-container{
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
}

.button-container button{
    width: 80%;
    min-width: 80px;
    padding: 8px;
    margin: 4px;
    border-radius: 2px;
    border: none;
    outline: none;
    background: #cbcaca;
    color: #241530e6;
    cursor: pointer;
    font-size: 1em;
}

.button-container button:hover{
    background-color: #281530e6;
    transition: 0.3s;
    color: #a7a6a6;
}

.copy{
    width: 90%;
    max-width: 500px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600px;
    padding: 2rem;
}

.copy p{
    color: #a7a6a6;
    margin-bottom: 15px;
    font-size: 0.6em;
}

@media screen and (max-width: 500px){
    .caution h2{
        color: #a7a6a6;
        margin-bottom: 15px;
        font-size: 1.1em;
    }
    
    .caution h3{
        color: #a7a6a6;
        margin-bottom: 15px;
        font-size: 0.7em;
    }
    
    .caution p{
        color: #747272;
        font-size: 1em;
        line-height: 1.5em;
        margin-top: 18px;
    }

    .social h2{
        color: #a7a6a6;
        margin-bottom: 5px;
        font-size: 1.2em;
        text-align: center;
    }
    
}








